@import 'tailwindcss';
@theme {
  --color-my1: oklch(0.7 0.6 0);
  --color-my2: oklch(0.7 0.6 180);
  --color-my3: oklch(0.78 0.6 300);
  /* 여백 전체적으로 수정가능  */
  --spacing: 2px;
}

body {
  padding: 50px;
}
