@import 'tailwindcss';

@theme {
}

@layer base {
  body {
    @apply p-10;
  }
}
/*
컴포넌트 레이어 : 여러가지 그룹화된 재활용 가능한 스타일 정의, 덮어씌우기 기능
커스텀 유틸리티 : 내가 자주 써야하는 스타일을 유틸리티로 만들어서 사용, 덮어씌우기 불가 
*/

@layer components {
  .bg-components {
    @apply bg-red-500;
  }
}

@utility bg-utility {
  @apply bg-blue-500;
}

@utility my-gradient {
  @apply bg-linear-to-r from-black to-white;
}